@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif; 
    
}

body{
    background-color: #2F2F2F;
    color: white;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
    width: 25rem;
    padding: 2rem;
    margin: 15rem auto;
    /* margin-top: 20vh;
    margin-bottom: 20vh; */
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 4rem;
}
.main:hover{
    transition: 0.4s;
    scale: 1.2;
}

#heading{
    margin-bottom: 2rem;
    text-align: center;
    color: #FF5F5F;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.height{
    margin-bottom: 0.4rem;
    color: #FF5F5F;
}
#height{
    margin-left: 0.4rem;
    border: none;
    border-radius: 1px;
    width: 10rem;
    padding: 0.15rem 0.2rem;
}


.weight{
    margin-bottom: 0.4rem;
    color: #FF5F5F;
}
#weight{
    margin-left: 0.4rem;
    border: none;
    border-radius: 1px;
    width: 10rem;
    padding: 0.15rem 0.2rem;
}



#calculate{
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #FF5F5F;
    cursor: pointer;
    padding: 0.2rem 1rem;
    margin-bottom: 0.4rem;
}
#calculate:hover{
    transition: 0.22s;
    scale: 1.1;
}

#output{
    text-align: center;
    margin: 0.4rem 5rem;
}